  <div class="og-upsell og-product">
    <div class="og-product-info">
      <div class="og-product-description">
        <h3 class="og-upsell-header">{{IU_ADVERTISEMENT_HEADER}}</h3>
        <div class="og-upsell-text">{{IU_ADVERTISEMENT_TEXT}}</div>
        {{order.publicId}}
      </div>
    </div>
    <div class="og-item-controls-container">
      <a class="og-upsell-button" href="#">
        {{SHOP_NOW_BUTTON_TEXT}}
      </a>
    </div>
  </div>